In [ ]:
x = int(input("enter a number: "))
y = int(input("enter a number: "))
operation = input("enter an operation (+,-,*,/,**): ")

if operation=="+":
  print(x+y)
elif operation=="-":
  print(x-y)
elif operation=="*":
  print(x*y)
elif operation=="x/y":
  print(x/y)
elif operation=="**":
  print(x**y)
else:
  print("error")

enter a number: 5
enter a number: 2
enter an operation (+,-,*,/,**): **
25

In [ ]:
3**3

27

ask the user to enter a number and if the number is between O and 1 print the percentage of the number and in any other case print, please enter a number between 0 and 1.

In [ ]:
num = float(input("enter a number: "))
if num>=0 and num<=1:
  print("percentage is",num*100,"%")
else:
  print("i cannot do it")

enter a number: 0.2345678
percentage is 23.45678 %

In [ ]:
text= "my name is victor and i live in london"
print(text[3])

n

In [ ]:
text= "my name is victor and i live in london"
print(text[-3])

d

In [ ]:
city= "london"
print(city[0:3])

lon

In [ ]:
text= "my name is victor and i live in london"
print(text[-9:])

in lond

In [ ]:
text= "my name is victor and i live in london"
print(text[-9:-7])

in

Ask the user to enter a city. If the user enters a city starting with L capital, print" starts with L capital" else, print something else.

In [ ]:
city= input("enter a city: ")
if city[O]=="L":
  print("starts with L")
else:
  print("asdadas")

enter a city: London

NameError: name 'O' is not defined

ask to enter a phrase. if the phrase finish with dot(.)say, you need a dot! else say all good!
London is the capital of UK

In [ ]:
phrase = input("enter a phrase: ")

if phrase[-1]!=".":
  print("u need to do a dot!")
else:
  print("all good")

enter a phrase: cfghgvhu
u need to do a dot!